.header{
  background-color: rgba(63, 127, 255, 0.5);
}

.footer {
  text-align: center;
  background-color:rgb(14, 16, 97);
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-top:13px;
}